#tabel-siswa{
    border-collapse: collapse;
    background: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat ;

    border-width: 1px;
    border-style: solid;
    border-color: white;

    margin: auto ;
}
.link{
    color: blue;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: grey;
}
#tabel-siswa h3{
    font-size: 32px;
}
#tabel-siswa td{
    padding: 20px;
}